h1{
    font-family: 'Cormorant Garamond', serif; 
    color: #3066BE; 
    text-align: center; 
    font-size: 48px;
}

a{
    font-family: 'Cormorant Garamond', serif; 
    color: #2EC0F9;
    font-size: 24px;
}

a.back{
    font-family: 'Cormorant Garamond', serif; 
    color: black;
    font-size: 24px;
}

h3 {
    font-family: 'Cormorant Garamond', serif; 
    color: #3066BE; 
    text-align: center; 
    font-size: 32px;
}

div.row{
    max-width: 100%;
}

th{
    text-align: center;
}

